<%- include('includes/head.ejs'); %>

<%- include('includes/pages-nav.ejs'); %>


<h1 class="text-center" style="background-color: black; color: brown; margin-top: 10rem;"> <%= pageTitle %> </h1>



<%- include('includes/footer.ejs'); %>
