<!-- Template JS Files -->
<script src="frontend/js/jquery-3.5.0.min.js"></script>
<script src="frontend/js/jquery.hoverdir.js"></script>
<script src="frontend/js/popper.min.js"></script>
<script src="frontend/js/bootstrap.min.js"></script>


<!-- Owl Carousel  -->
<!-- <script src="frontend/css/owlcarousel/owl.carousel.min.js"></script> -->
<script src="frontend/js/owl.carousel.min.js"></script>

<!-- validate -->
<script src="frontend/js/jquery.js"></script>
<script src="frontend/js/jquery.validate.js"></script>

<!-- quasar framework -->
<script src="frontend/js/vue.min.js"></script>
<script src="frontend/js/quasar.umd.min.js"></script>

<!-- custom -->
<script src="frontend/js/custom.js"></script>

</body>


<!-- Mirrored from slimhamdi.net/tunis/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:54:07 GMT -->
</html>
