
  <footer class="footer">
    <div class="top-footer mt-10 py-5  ">
      <div class="container">
          <div class="row">
          <div class="col-md-4">
            <h5>Phone Support</h5>
            <p>24 HOURS A DAY</p>
            <strong>+01155721425</strong>

          </div>
    
          <div class="col-md-4">
            <h5>Connect With Us </h5>
            <p>24 HOURS A DAY</p>
            <div class="d-flex justify-content-center">
              <a class="px-4"><i class="fab fa-facebook-f"></i></a>
              <a class="px-4"><i class="fab fa-twitter"></i></a>
              <a class="px-4"><i class="fab fa-instagram-square"></i></a>
              <a class="px-4"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
    
          <div class="col-md-4">
            <h5>Newsletter && subscrip</h5>
            <p>SIGN UP FOR SPECIAL OFFERS</p>
            <div class="newsletter d-flex justify-content-center">
              <input class="form-control form-control-sm mr-2" type="text" placeholder="e-Mail">
              <button type="button" class="btn btn-info btn-sm">Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>Copyright 2020. Made with ♥. All Rights Reserved.</p>
            <span>Created By <a href="#">Taher Ahmed</a></span>
          </div>
          <div class="col-md-4">
            <div class="logo-img">
              <img src="frontend/img/logo.png" alt="logo">
            </div>
          </div>
          <div class="col-md-4">
            <div class="app-icons d-flex justify-content-center">
              <img class="mr-3" src="frontend/img/footer/appstore.png">
              <img class="" src="frontend/img/footer/googleplay.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </footer>


  <!-- Template JS Files -->
  <script src="frontend/js/jquery-3.5.0.min.js"></script>
  <script src="frontend/js/jquery.hoverdir.js"></script>
  <script src="frontend/js/popper.min.js"></script>
  <script src="frontend/js/bootstrap.min.js"></script>


  <!-- Owl Carousel  -->
  <!-- <script src="frontend/css/owlcarousel/owl.carousel.min.js"></script> -->
  <script src="frontend/js/owl.carousel.min.js"></script>

  <!-- validate -->
  <script src="frontend/js/jquery.js"></script>
  <script src="frontend/js/jquery.validate.js"></script>

  <!-- swiper slider https://swiperjs.com/demos/ -->
  <script src="frontend/js/swiper-bundle.min.js"></script>

  <!-- smooth-scroll.min.js -->
  <script src="frontend/js/smooth-scroll.min.js"></script>
  <script src="frontendjs/smooth-scroll.polyfills.min.js"></script>

  <!-- custom -->
  <script src="frontend/js/custom.js"></script>

  </body>


<!-- Mirrored from slimhamdi.net/tunis/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:54:07 GMT -->
</html>
