/* fonts imported */
@font-face {
  font-family: TarponMotel;
  src: url(../fonts/TarponMotel-5Dqv.ttf);
}

/* end fonts imported */


/* general style class and id */
.gradient-opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,56);
  background: linear-gradient(170deg, rgba(0,0,56,0.835171568627451) 0%, rgba(0,212,255,0.4990371148459384) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,56);
  background: linear-gradient(170deg, rgba(0,0,56,0.835171568627451) 0%, rgba(0,212,255,0.4990371148459384) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

section{
  padding: 150px 0;  
}

/* section:nth-child(2n+3) {background: #CCC} */

/* end general style class or id */




/* /////////////////////////////////// */
/* hmoe page  */
/* /////////////////////////////////// */

/* nav top */

.nav-active{
  background-color: #ffe4c4ba !important;
  transition: ease-in-out all .5s !important;
}

.nav-top .logo{
  max-width: 90px;
  position: relative;
}

.nav-top .navbar{
  border-bottom: 1px solid #f8f9fa;
}

.nav-top .navbar-nav .nav-link{
  font-family: TarponMotel;
  color: rgba(255, 255, 255, 0.95);
  background-color: #ffe4c42e;
  font-size: 1.3rem;
  font-variant: all-petite-caps;
  border-radius: 60px;
  transition: ease-in-out all .5s;
  margin: 0 7px;
  padding: 0 17px;
}
.nav-top ul li:hover .nav-link{
  background-color: #ffe4c4ba;
  transition: ease-in-out all .5s;
}
/*  */

/* mainSlider  */
.carousel-inner .carousel-item {
  transition: -webkit-transform 0.6s ease-in-out top;
  transition: transform 0.6s ease-in-out top;
  transition: transform 0.6s ease-in-out top, 
  -webkit-transform 0.6s ease-in-out top;
}
 
.mainSlider .carousel-caption{
  /* background-color: hotpink; */
  position: absolute;
  right: 15%;
  bottom: 300px;
}

.mainSlider p{
  text-align: left;
}
.mainSlider .fslide{
  /* background-color: khaki; */
}
.mainSlider .fslide h3{
  /* background-color: mediumaquamarine; */
  text-align: left;
}

.mainSlider .sslide{
  /* background-color: lightseagreen; */
}
.mainSlider .sslide h3{
  /* background-color: mediumblue; */
}
.mainSlider .fslide h3,
.mainSlider .sslide h3,
.mainSlider .tslide h3{
  font-variant: all-petite-caps;
  color: #f59f31;

}

.mainSlider .fslide h3 strong,
.mainSlider .sslide h3 strong{
  color: #ecd144;
  /* font-family: TarponMotel; */
  transition: transform 0.6s ease-in-out top;
}

.mainSlider .tslide{
  /* background-color: maroon; */
}
.mainSlider .tslide h3{
  /* background-color: saddlebrown; */
  text-align: left;
}

.mainSlider .slider-form{
  background-color: #ffffff;
  position: relative;
  bottom: 30px;
  box-shadow: 0px 11px 8px -15px;
  border-radius: 2px;
  padding: 1rem;
}

.mainSlider .slider-form .form-control{
  height: unset;
}

/* about-us */
.about-us{}
.about-us h3{
  font-family: TarponMotel;
}
.about-us h3 span{}

.about-us p{
  color: #000000;
  padding: px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: lighter;
  margin-bottom: 7rem;  
}

.about-us .text h4{
  font-family: TarponMotel;
}

.about-us .text p{
  color: #000000;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.about-us .text .btn{
  text-transform: uppercase;
  margin: auto;
  display: block;
  text-align: center;
}
.about-us .text .btn a{
  color: #fff;
}

.about-us .images-box .col-6:nth-child(1){
  background-color: aqua;
}
.about-us .images-box .col-6:nth-child(2){
  background-color: rgb(87, 73, 34);
}
.about-us .images-box .col-6:nth-child(3){
  background-color: rgb(223, 175, 45);
}
.about-us .images-box .col-6:nth-child(4){
  background-color: rgb(34, 87, 56);
}

/* services section */
.services{
  background-image: url(https://watamusafaris.com/wp-content/uploads/2020/07/Palm-Garden-Boutique-Hotel-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: #CCC;
  z-index: 9999;
}
.services::after{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,56);
  background: linear-gradient(170deg, rgba(0,0,56,0.835171568627451) 0%, rgba(0,212,255,0.4990371148459384) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services h3{
  color: #ecd144;
}
.services a .btn{
  margin-bottom: 10rem;
}

/* places section */
.places .container{
  overflow: hidden;
}
.places .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.places .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}


/* DISCOVER */
.discover{
  background-color: aqua;
  height: 27rem;
}
.discover div{
  width: 50%;
  /* background-color: blue; */
  float: left;
}
.discover-text{
  text-align: center;
}
.discover-video{

}


/* SUBSCRIBE */
.subscribe{
  background-image: url(https://watamusafaris.com/wp-content/uploads/2020/07/Palm-Garden-Boutique-Hotel-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.subscribe .form-group{
  background-color: #fff;
}
.subscribe .form-group input[type="email"]{
  border: 0;
  outline: none;
}

/* rooms */
.rooms{
  background-color: burlywood;
}
.rooms span{
  display: block;
  text-align: center;
}
.rooms p{
  display: block;
  text-align: center;
}


/* events */
.events{
  background-image: url(https://www.sukhothai.com/media/1997/the-sukhothai-shanghai-grand-shanghai-ballroom-events-wedding.jpg?width=960);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}



.events .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* .events .carousel-item img{

  position: absolute;
} */


/* phone-app */
.phone-app{}

/* testimonial */
.testimonial{
  background-image: url(https://watamusafaris.com/wp-content/uploads/2020/07/Palm-Garden-Boutique-Hotel-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}

.testimonial .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  background-color: #5f9ea0d1;
}

.testimonial .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.testimonial .swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.testimonial .swiper-slide .title .client-img {
  width: 250px;
  width: 157px;
  height: 200px;
}

.testimonial .swiper-slide .title .client-img img{
  width: 100%;
}
.testimonial .swiper-slide .subtitle {
  font-size: 21px;
}

.testimonial  .swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  height: 7rem;
}


.footer{
  color: #f8f9fa;
  text-align: center;
}
.footer .top-footer{
  background-color: rgb(43, 43, 43);
}

.footer .top-footer p{
  font-size: 0.8rem;
  color: #b9b9b9;
}

.footer .top-footer .newsletter{
}
.footer .top-footer .newsletter input{
  width: 12rem;

}


.footer .bottom-footer{
  background-color: rgb(7, 7, 7);
}
.footer .bottom-footer p{
  font-size: .8rem;
  margin-bottom: 0;
}
.footer .bottom-footer ul{
  list-style: none;
  margin-bottom: 0;
}
.footer .bottom-footer ul li{
  display: inline-block;
}
.footer .bottom-footer ul li a{
}
.footer .bottom-footer .logo-img{
  width: 4rem;
  margin: auto;
}
.footer .bottom-footer .logo-img img{
  width: 100%;
}

.footer .bottom-footer p,
.footer .bottom-footer .app-icons{
  margin-top: 3%;
}
.footer .bottom-footer .app-icons img{
  width: 7rem;
}
/* /////////////////////////////////// */
/* Services page  */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* Blog page  */
/* /////////////////////////////////// */
/*  */

/* /////////////////////////////////// */
/* Events page  */
/* /////////////////////////////////// */
/*  */
